---
import { Icon } from 'astro-icon/components';
---
<button class="hover:cursor-pointer hover:scale-110 transition-transform duration-300" aria-label="Next section">
    <Icon name="next"/>
</button>
