---
---
<header class="container py-2 z-30 lg:mt-4">

  <nav class="flex flex-row items-center justify-center w-[100%]">

    <ul class="md:flex w-[100%]">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

  </nav>

</header>